body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
    color: #fff;
    background: linear-gradient(45deg, #ff8a00, #e52e71, #6610f2, #009688);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background-color: black;
}

.container header {
    color: #8c8c8c;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input {
    accent-color: #fff;
}

.keys-check input {
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative;
}

.keys-check input::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #8c8c8c;
    top: 50%;
    left: 0.3rem;
    border-radius: inherit;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-check input:checked::before {
    left: 2.1rem;
    background-color: #fff;
}

.piano-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    gap: 5px;
}

/* CONFIGURANDO BOTÕES DE EQUALIZADOR */

.buttons label {
    position: relative;
    padding-bottom: 15px;
    cursor: pointer;
    color: #8c8c8c;
    font-weight: 500;
    font-size: 0.9rem;
}

.buttons input[type="radio"] {
    display: none;
}

.buttons label::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    border: 1px solid #8c8c8c;
    background-color: red;
    border-radius: 50%;
}

.buttons input[type="radio"]:checked + label::before {
    background-color: green;
}

/* TECLAS DO PIANO */

.piano-keys {
    display: flex;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a2a2a2;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border: 1px solid #000000;
    border-radius: 8px;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border: 1px solid #000000;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 10px rgba(0, 0, 0, 0.6);
    background: linear-gradient(to bottom #fff 0%, #000 100%);
}

.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom #000, #434343);
}

.piano-keys .key.hide span {
    display: none;
}

@media screen and (max-width: 790px) {  
    .container {
        width: 100%;
    }

    .piano-display {
        flex-direction: column;
        gap: 10px;
    }

    .buttons {
        flex-direction: row;
        gap: 10px;
        margin: 0;
    }
}

@media screen and (max-width: 640px) {
    header h2 {
        display: none;
    }
    
    header .column span {
        margin-right: 10px;
        font-size: 1rem;
    }

    .volume-slider input {
        width: 100px;
    }

    .piano-keys .white {
        width: 35px;
        height: 115px;
    }
    
    .piano-keys .black {
        width: 22px;
        height: 70px;
        margin: 0 -11px 0 -11px;
    }

    .buttons label {
        font-size: 0.8rem;
    }
}
